
/*------Utility Styles------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
  }


  ::-webkit-scrollbar-track {
    background: black;

  }


  ::-webkit-scrollbar-thumb {
    background: #7c7878;
    border-radius: 10px;

  }


  ::-webkit-scrollbar-thumb:hover {
    background: rgb(142, 162, 168);
  }


/*------Navabr Styles------ */

.nav {
    height: 50px;
    width: 100%;
    background-color: #1b1b1b;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    transition: all ease-in-out 300ms;
    border-bottom: 1px solid gray;
    
  }
 .width-container{
     width: 80vw;
     position: absolute;
     left: 50%;
     transform: translate(-50%);
 }
  .width-container > .nav-header {
    display: inline;
  }
  
  .width-container > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .width-container > .nav-btn {
    display: none;
  }
  
  .width-container > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    
  }
  
  .width-container > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    transition: all ease-in-out 300ms;
  }
  
  .width-container > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: gray;
  }
  
  .width-container > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
      .width-container{
          width: 100vw;
      }
    .width-container > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .width-container > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .width-container > .nav-btn > label:hover,.width-container  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .width-container > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .width-container > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .width-container > .nav-links > a {
      display: block;
      width: 100%;
    }
    .width-container > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .width-container > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/*------Main content Styles------ */

.main-index{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.buttons-container{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: #1b1b1b;
}
@media(max-width:768px){
    .buttons-container{
        width: 90%;
        height: 65%;
    }
}
.buttons-container i{
    color: beige;
}
.buttons-container a{
    padding: 20px 30px ;
    background: #05386b;
    border-radius: 16px;
    text-decoration: none;
    color: beige;
    text-align: center;
}
.buttons-container a:hover{
    background: rgb(5, 56, 107,.8);

}
.err{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red !important;
}
/*------Login/Signup Styles------ */

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  }
  
  .credit {
    position: relative;
    margin: 25px auto 0 auto;
    width: 100%;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
  }
  
  .credit a {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* * * * * Login Form CSS * * * * */
  h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
  }
  
  h2 img {
    width: 120px;
  }
  
  p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
  
  .btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    transition: .3s;
    -webkit-transition: .3s;
  }
  
  .btn:hover {
    color: #3508b6;
    background: #ffffff;
  }
  
  .col-left,
  .col-right {
    width: 55%;
    padding: 45px 35px;
    display: flex;
  }
  
  .col-left {
    width: 45%;
    background: #3508b6;
    -webkit-clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
    clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
  }
  
  @media(max-width: 575.98px) {
    .container {
      flex-direction: column;
      box-shadow: none;
    }
  
    .col-left,
    .col-right {
      width: 100%;
      margin: 0;
      padding: 30px;
      -webkit-clip-path: none;
      clip-path: none;
    }
  }
  
  .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    position: relative;
    width: 100%;
    color: #666666;
  }
  
  .login-form p:last-child {
    margin: 0;
  }
  
  .login-form p a {
    color: #3508b6;
    font-size: 14px;
    text-decoration: none;
  }
  .login-form p a span{
    color:black;
  }
  .login-form p:last-child a:last-child {
    float: right;
  }
  
  .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
  }
  
  .login-form p:last-child label {
    width: 60%;
    float: left;
  }
  
  .login-form label span {
    color: #ff574e;
    padding-left: 2px;
  }
  
  .login-form input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .login-form input:focus {
    border-color: #363333;
  }
  
  .login-form input.btn {
    color: #ffffff;
    background: #3508b6;
    border-color: #3508b6;
    outline: none;
    cursor: pointer;
  }
  
  .login-form input.btn:hover {
    color: #3508b6;
    background: #ffffff;
  }

  .signup-link{
      display: grid;
      place-items: center;
  }
  
  .signup-link a:hover{
    text-decoration: underline;
  }
/*------Welcome-msg Styles------ */

.welcome-msg{
    display: flex;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 8.5%;
    transform: translate(-50%);
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1b1b1b;
    animation: cssAnimation 0s ease-in 4s forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}


/*------Form error Styles------ */

.modal-bg{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.err-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: red;
    font-size: 18px;
    width: 35%;
    height: 20vh;
    border-radius: 10px;
    font-weight: bold;
    background: rgba(69, 155, 152, 0.9) ;
}

.err-modal .err-close{
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    outline: none;
    border: none;
    background: #333232;
    color: beige;
    transition: all ease-in-out 300ms;
}
.err-modal .err-close:hover{
    background: #05386b;
}

.success-msg{
    color: green !important;
}























/* ------Footer Styles------ */

.footer-wrapper{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;
    background: #1b1b1b;
    overflow: hidden;
}
.footer-wrapper h4{
    display: grid;
    place-items: center;
    font-weight: lighter;
    
}

/* ------End of Footer Styles------ */